{:paths ["src" "resources"]

 :deps
 {org.clojure/clojure {:mvn/version "1.9.0"}
  datascript          {:mvn/version "0.16.7"}
  camel-snake-kebab   {:mvn/version "0.4.0"}}

 :aliases
 {:test
  {:extra-paths ["test"]
   :extra-deps
   {lambdaisland/kaocha {:mvn/version "0.0-266"}}
   :main-opts ["-m" "kaocha.runner"]}

  :fig {:extra-deps
        {org.clojure/clojurescript {:mvn/version "1.10.339"}
         com.bhauman/rebel-readline-cljs {:mvn/version "0.1.4"}
         com.bhauman/figwheel-main {:mvn/version "0.1.9"}}
        :extra-paths ["target" "test"]}
  :build {:main-opts ["-m" "figwheel.main" "-b" "dev" "-r"]}
  :min   {:main-opts ["-m" "figwheel.main" "-O" "advanced" "-bo" "dev"]}}}
